.label {
    -fx-padding: 5px;
}

.personListStyle {
    -fx-max-width: 200px;
    -fx-font-family: monospace;
}

.toolbar-box {
    -fx-padding: 5px;
}

.group-checkboxes {
    -fx-alignment: center-left;
    -fx-vgap: 10px;
}